@import url(https://fonts.googleapis.com/css?family=Chivo:300,300italic,regular,italic,700,700italic,900,800italic);

html,
 body {
    box-sizing: border-box;
    height: 100%;
 }

 *,
 *::before,
 *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    } 

 .box {
        height: 900px;
        max-width: 1440px;
        // height: 100%;
        margin: 0 auto;
        // display: flex;
        // align-items: center;
        // justify-content: center;
    
         background-color:  #121725;
    //    background-image: url(../images/bg-desktop.png);
    //    background-repeat: no-repeat;
    //    background-position: bottom;
        font-family: "Chivo", sans-serif;
    //     line-height: 14px;
    //     font-size: 12px;
        font-weight: 400;
    //     color: #6B7282;
        padding: 130px 0;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
     
}

.main {
    background-image: url(../images/desktop/image-host.jpg);
    background-repeat: no-repeat;
    height: 640px;
    background-position: right;
    position: relative;

    &__logo {
        width: 135px;
        height: 56px;
        position: absolute;
        top: -28px;
        left: 135px;

    }

    &__content {
        position: absolute;
        max-width: 723px;
        height: 509px;
        background: #121725;
        bottom: 0;
        left: 135px;
        padding: 88px 58px 0 0;
    }

    &__title {
        font-size: 52px;
        line-height: 62px;
        text-transform: uppercase;
        font-weight: 300;
        color: #fff;
        margin-bottom: 24px;
    }
    &__title span{
        color: rgb(89, 227, 123);
    }

    &__text {
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: rgb(150, 231, 146);
        max-width: 445px;
        margin-bottom: 40px;
    }

    &__form {
        max-width: 427px;
        position: relative;
        margin-bottom : 64px; 
    }
    &__form input{
        border: none;
        outline: none;
        font-family: "Chivo", sans-serif;
        font-size: 14px;
        line-height: 28px;
        font-weight: 700;
    }

    &__form input[type=email] {
        background: rgb(231, 211, 211);
        border-radius: 28px;
        width: 100%;
        height: 56px;
        padding: 14px 32px;
        color: rgb(89, 130, 117);
    }

    &__form input[type=submit]{
        background:rgb(73, 156, 118) ;
        box-shadow: #121725;
        border-radius: 28px;
        width: 162px;
        height: 46px;
        position: absolute;
        top: 5px;
        right: 5px;
        transition: all 1s;
    }

    &__form input[type=submit]:hover {
        background: rgb(149, 236, 135);
    }

    &__inner-img {
        width: 548px;
        display: flex;
        justify-content: space-between;
        align-items: center;
              
    }
     
    &__dots {
       background-image: url(../images/desktop/bg-pattern-dots.svg); 
       width: 232px;
       height: 104px;
       position: absolute;
       right: 0;
       bottom: -52px;
    }
}


@media (max-width:1250px) {
   

.main {
   
    &__content {
        bottom: -52px;
         
    }

                  
    &__dots {
        top: 100%;
      
    }
}

}



@media (max-width:1050px) {
    .box {
        height: 1024px;
        max-width: 900px;
        padding:  0;
    }

.container{
    max-width: 790px;
       
}

.main {
    background-image: url(../images/tablet/image-host.jpg);
    
    height: 767px;
   
    &__logo {
       
        top: 50px;
        left: 39px;

    }

    &__content {
        
        max-width: 635px;
        height: 509px;
        left: 39px;
        padding: 53px 0 0 0;
    }

    &__title {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 31px;
    }
      
         
    &__dots {
        right: auto;
       left: 39px;
       top: auto; 
       bottom: -257px;
       
    }
}

}



@media (max-width:800px) {
    
    .box {
        height: 1024px;
        max-width: 768px;
        padding:  0;
    }

    .container{
    max-width: 690px;

    }


}


@media (max-width:450px) {
    
    .box {
        // height: 1024px;
        max-width: 375px;
          //     padding:  0;
         height: 667px;
         margin: 0;
    }

    .container{
    max-width: 327px;

    }

    .main {
        background-image: url(../images/mobile/image-host.jpg);
       
        height: 667px;
       

        &__logo {
       top: 62px;
       left: 50%;
       transform: translate(-50%);
       z-index: 1000;
        }
    
        &__content {

            max-width: 100%;
            height: 100%;
             background: rgba(19, 6, 37, 0.804);
            left: 0;
            bottom: 0;
            padding: 175px 0 0 0;
        }
    
        &__title {
            font-size: 26px;
            line-height: 38px;
            margin-bottom: 16px;
        }
        &__text{
            width: 327px;
            font-size: 15px;
            line-height: 25px;
            margin: 0 auto 33px;

        }
        &__form{
            position: absolute;
            bottom: 94px;
            left: 50%;
            transform: translateX(-50%);
            widows: 327px;
            margin: 0;
        }
        &__inner-img {
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__form input[type=email] {
            margin-bottom: 16px;
        }
        
        &__form input[type=submit]{
          
           
            width: 326px;
         
            position: static;
            top: 5px;
            right: 5px;
            transition: all 1s;
        }
        &__dots {
          display: none;
           
        }
    }
    
    }

   

